@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

body {
  font-family: 'Mulish', Roboto, sans-serif;
}

.fixed-top {
  background-color: #fff !important;
}

.active {
  font-weight: 700;
}

.jumbotron p {
  text-align: justify;
  text-justify: inter-word;
}

.jumbotron h1,
h2 {
  font-weight: 700;
}

section {
  padding-top: 120px;
}

.rectangle {
  width: 75%;
  min-height: 20vh;

  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}

a {
  color: white;
}

button.btn {
  color: #458ff6;
  background: #ffffff;
  border: 1.4px solid #458ff6;
  box-sizing: border-box;
  border-radius: 55px;
  width: 150px;
}

#our-activities .card {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border: 2px solid whitesmoke;
  border-radius: 20px;

  padding-top: 10px;
}

#our-activities .card img {
  height: 150px;
}

section p {
  font-weight: 200;
}

#weekly-class .card {
  background: linear-gradient(180deg, #deeefe 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 15px;
  padding-top: 10px;
  border: none;

  padding-bottom: 50px;
}

#weekly-class .card img {
  height: 100px;
  width: 100px;
  margin: auto;
}

.card-text {
  font-size: 0.85rem;
  text-align: justify;
  text-justify: inter-word;
}
